.comps-layout-content-video-container {
    /* border: 1px solid #e8e8e8; */
    /* border-radius: 4px; */
    /* overflow: auto; */
    /* padding: 0px 0px; */
    max-height: 100vh
  }
  .comps-layout-content-menu-container {
    position: absolute;
    top: 10;
    left: 10;
    z-index: 999;

  }

  